html(lang="en")
  head
    meta(charset="utf-8")
    title Palaver Signup
    link(rel="stylesheet", type="text/css", href="/assets/betterStyle.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
  body.container
    h1 Palaver Chat Signup
    h2
      a(href="/") ...or sign in.
    form(name="Signup", action="/signup", method="post")
      div
        input(type="text" name="username" placeholder="Username")
      div
        input(type="password" name="pass1" placeholder="Password")
      div
        input(type="password" name="pass2" placeholder="Reenter Password")
      div
        input#submitButton(type="submit" name="submit" value="Submit")
